<style>
  .header {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }

  .viewmore {
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(173, 34, 76);
    color: white;
    border: none;
  }

  .banner {
    background-color: white;
    padding:40px;    
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .logo img {
    height: 100px;
    margin-left: 20px;
    
  }

  .image-container {
    position: relative;
    width: 100%;
    margin-top: -4px;
  }

  .image-container img {
    width: 100%;
    display: block;
  }

  .overlay {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Center the overlay */
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.774);
  }

  .content {
    text-align: center;
    color: black;
  }

  .viewmore {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: rgb(173, 34, 76);
    color: white;
    border: none;
    margin-top: 10px;
    width: 200px;
    font-size: 14px;
  }
  .signup{
    border-radius: 20px;
    padding: 10px 20px;
    background-color: rgb(173, 34, 76);
    color: white;
    border: none;
    margin-top: 10px;
    width: 200px;
    font-size: 14px;
  }
</style>

<div class="banner">
  <div class="logo">
    <img src="../assets/logo.jpg" alt="Logo">
  </div>
</div>

<div class="image-container">
  <img src="../assets/picture.jpg" alt="Your Image">
  <div class="overlay">
    <div class="content">
      <h2 style="font-size:45px;font-weight:bold;">Improve your Skills On your own <br>to prepare for the future</h2>
      <button class="signup">Register Up righ now </button>
    </div>
  </div>
</div>

<div class="header">
  <h1 style="margin-left:30px;"> Discover our course</h1>
  <button class="viewmore">View more</button>
</div>

<app-card></app-card>
<app-form></app-form>
